[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-mongoengine = "*"
gunicorn = "*"
mongoengine-goodjson = "*"
absl-py = "*"
astunparse = "*"
cached-property = "*"
cachetools = "*"
certifi = "*"
chardet = "*"
click = "*"
finnhub-python = "*"
flatbuffers = "*"
gast = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-pasta = "*"
grpcio = "*"
h5py = "*"
idna = "*"
importlib-metadata = "*"
joblib = "*"
kiwisolver = "*"
matplotlib = "*"
nltk = "*"
numpy = "*"
oauthlib = "*"
opt-einsum = "*"
pandas = "*"
polygon-api-client = "*"
protobuf = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
regex = "*"
requests = "*"
requests-oauthlib = "*"
rsa = "*"
scikit-learn = "*"
scipy = "*"
six = "*"
tensorboard = "*"
tensorboard-plugin-wit = "*"
tensorflow = "*"
tensorflow-estimator = "*"
termcolor = "*"
threadpoolctl = "*"
tqdm = "*"
typing-extensions = "*"
urllib3 = "*"
websocket-client = "*"
websockets = "*"
wrapt = "*"
zipp = "*"
Flask = "*"
Flask-RESTful = "*"
Flask-Cors = "*"
Flask-JWT-Extended = "*"
Cycler = "*"
Keras = "*"
Keras-Preprocessing = "*"
Markdown = "*"
Pillow = "*"
PyYAML = "*"
Werkzeug = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
