<div class="d-flex flex-row-reverse">
  <countdown
    class="addTicker text-primary align-self-center"
    style="width: 60px"
    #cd
    [config]="countdownConfig"
    (event)="countdownComplete($event)"
  ></countdown>
  <div
    class="spinner-border text-primary addTicker"
    role="status"
    *ngIf="isAdding"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
  <button
    class="btn btn-primary btn-floating addTicker text-dark"
    (click)="addTicker()"
    [disabled]="isAdding || (tickerTaskMap.size && !isLoaded)"
  >
    <i class="fas fa-plus"></i>
  </button>
  <mdb-form-control class="form-white addTicker">
    <input
      mdbInput
      type="text"
      id="newTicker"
      class="form-control"
      [(ngModel)]="newTicker"
      oninput="this.value = this.value.toUpperCase()"
    />
    <label mdbLabel color="blue" class="form-label" for="newTicker"
      >Enter Ticker</label
    >
  </mdb-form-control>
</div>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid" cdkDropListGroup>
    <div
      fxFlex="20%"
      fxFlex.xs="100%"
      fxFlex.sm="33%"
      *ngFor="let ticker of tickers; let i = index"
      cdkDropList
      [cdkDropListData]="{ item: ticker, index: i }"
      (cdkDropListDropped)="drop($event)"
    >
      <div cdkDrag>
        <div *cdkDragPlaceholder></div>
        <div
          class="card tickerBox"
          [ngClass]="
            ticker.profitTarget >= 10 && ticker.profitProbability >= 70
              ? 'bg-success'
              : ticker.profitProbability >= 70 && ticker.profitTarget >= 5
              ? 'bg-warning'
              : ''
          "
        >
          <span class="badge badge-notification" (click)="deleteTicker(ticker)">
            <i class="fas fa-times text-danger"></i>
          </span>
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <h5 class="title">
                  <b>${{ ticker.ticker }}</b>
                </h5>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>
                  Bid/Ask: {{ ticker.bid | number: "1.2-4" }}/{{
                    ticker.ask | number: "1.2-4"
                  }}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>Float: {{ convertToString(ticker.float) }}</p>
              </div>
              <div class="col">
                <p>Volume: {{ convertToString(ticker.dayVolume) }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>Entry Price: {{ ticker.enterPrice | number: "1.2-4" }}</p>
              </div>
              <div class="col">
                <p>Target Price: {{ ticker.targetPrice | number: "1.2-4" }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>Profit%: {{ ticker.profitTarget | number: "1.2-2" }}%</p>
              </div>
              <div class="col">
                <p>
                  Probabiliity: {{ ticker.profitProbability | number: "1.2-2" }}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>Time: {{ ticker.entryTime }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
